:root {
  font: 18px/145% 'Cairo', sans-serif;
  color-scheme: dark;
  color: rgba(255,255,255,0.7);
  background: #071a10;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: #071a10;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  color: white;
}

p {
  margin: 0;
}
